<!-- Google Tag Manager -->
<script>
	(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-MLTTCH6P');
</script>
<!-- End Google Tag Manager -->


<meta charset="utf-8">
<link rel="icon" href="{{ '/assets/images/favicon.ico' | relative_url }}">
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% elsif site.description %}{{ site.description }}{% endif %}">

{% include seo.html %}

{% unless site.atom_feed.hide %}
  <link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
{% endunless %}

{%- comment %} https://docs.google.com/presentation/d/1rmxwWa9P6_xHqonmh5ONXRS-jPc5XKbnv99Rjkhe04s/present {% endcomment -%}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
  {% if site.enable_copy_code_button -%}
    window.enable_copy_code_button = true;
  {%- endif %}
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="preload" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@latest/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@latest/css/all.min.css"></noscript>

{% if site.head_scripts %}
  {% for script in site.head_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% endif %}

<meta property="og:title" content="{{ page.title | default: site.title }}">
<meta property="og:description" content="{{ page.excerpt | default: site.description }}">
<meta property="og:image" content="{{ '/assets/images/banner.png' | relative_url }}">
<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ page.title | default: site.title }}">
<meta name="twitter:description" content="{{ page.excerpt | default: site.description }}">
<meta name="twitter:image" content="{{ '/assets/images/banner.png' | relative_url }}">
